h2 {
    width: 33%;
}

#firstMessage, #secondMessage, #ocupationCard,
#submitOcupationLoading, #carrerQuestionCard, 
#submitCarrerLoading, #likesQuestionCard,
#likesCard, #carrerCard, #finalQuestionCard, #submitLikesLoading {
    display: none;
}

/* MOBILE */
@media only screen and (max-width: 900px) {
    #likesH2 {
        width: 100%;
    }

    #personalDataH2, #recommendationsH2 {
        display: none;
    }

    .progress {
        /* display: none; */
    }
}